requests~=2.25.1
python-dotenv~=0.20.0
fastapi~=0.78.0
SQLAlchemy~=1.4.39
uvicorn~=0.18.1
asyncpg~=0.25.0
gunicorn~=20.1.0
python-dotenv~=0.20.0
aiohttp~=3.8.1
jinja2
sqlalchemy-utils~=0.38.2
psycopg2-binary~=2.9.3
python-multipart
openpyxl~=3.0.10