@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Jost:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    text-align: center;
}

ul {
    list-style: none;
}

.header {
    display: flex;
    align-items: center;
    background: linear-gradient(to right top, #c3c959, #807208);
    opacity: 0.8;
    min-width: 100%;
    height: 100px;
    box-shadow: 4px 0 8px #a4ad59;
}

.wrapper {
    min-width: 100%;
}

.headers__heading {
    color: #40421b;
    filter: brightness(110%);
    font-size: 59px;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.wrapper_row-content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.header-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headers-nav__item:not(:last-child) {
    margin-right: 50px;
}

.headers-nav__link {
    text-decoration: none;
    font-size: 19px;
    color: olivedrab;
    filter: brightness(50%);
}

.headers-nav__link:after {
    content: "";
    display: block;
    width: 0;
    border-bottom: 1px solid;
    margin: 0 auto;
    transition:all 0.3s linear 0s;
}

.headers-nav__link:hover:after {
    width: 90%;
}

.main {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(77, 68, 14, 0.1);
    box-shadow: 0 4px 8px rgb(77, 68, 14, 0.1), 0 -4px -8px rgb(77, 68, 14, 0.1);
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.main-section {
    margin-top: 50px;
    height: 100vh;
    width: 100%;
}

.main-section__header {
    color: coral;
    filter: brightness(75%);
    font-size: 40px;
}

.main-section__user-list {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    overflow-y: scroll;
    height: 100vh;
}

.user-info {
    width: 85%;
    height: 100px;
    background-color: #eae5de;
    border-radius: 20px;
}

.user-info:nth-child(n) {
    box-shadow: 4px 4px 4px coral, 8px 8px 8px #eae5de, 12px 12px 12px coral;
}

.user-info:nth-child(2n) {
    background-color: coral;
    box-shadow: -4px 4px 4px #eae5de, -8px 8px 8px coral, -12px 12px 12px #eae5de;
}

.user-info__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.user-info__item {
    font-size: 20px;
    color: #1a1201;
    font-family: 'Jost', sans-serif;
}

.user-info__delete-button {
    width: 50px;
    height: 50px;
    background-image: url("/static/images/bin.png");
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
}